<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="UsersDataPath" value="Users.xml"/>
    <add key="TrainingsDataPath" value="Trainings.xml"/>
    <add key="ExercisesDataPath" value="Exercises.xml"/>
  </appSettings>
</configuration>
